.header {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: .05em solid var(--grey-default);
}

.headerLogo {
	width: 10em;
	height: auto;
}