.loading {
	padding: 2em 0 2em 0;
	text-align: center;
}

.cards {
	width: 100%;
	min-height: 320px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 1em;
	justify-items: center;
	align-items: center;
}

.card {
	align-self: center;
	width: 100%;
	max-width: 300px;
	min-height: 152px;
	height: 100%;
	padding: 2em 1em;
	background-color: var(--background-second);
	border-radius: .75em;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	position: relative;
	transition: .3s;

	&::after {
		content: '';
		width: 70%;
		height: .075em;
		background-color: var(--grey-default);
		border-radius: .05em;
		position: absolute;
		bottom: 2em;
	}

	&:hover {
		&::after {
			box-shadow: 0 0 .25em .1em var(--blue-shadow);
		}
	}

	&:active {
		&::after {
			box-shadow: 0 0 .25em .1em var(--grey-shadow);
		}
	}
}

.cardName {
	padding: .5em 0 1em 0;
	font-size: 1.3em;
	text-align: center;
	color: var(--text-default);
}