:root {
	--background-default: #000000;
	--text-default: #e6e8e6;	
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

html,
body {
	min-width: 100vw;
	overflow-x: hidden;
}

html {
	height: 100%;
	color: var(--text-default);
	background-color: var(--background-default);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
}