.pagination {
	width: 40%;
	padding: .5em 0 2em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.paginationLink {
	padding: .5em 1em;
	font-size: 1.2em;
	color: var(--text-default);
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: .3s;

	&::after {
		content: '';
		width: 0;
		height: .05em;
		background-color: var(--text-default);
		border-radius: .05em;
		position: absolute;
		bottom: 0;		
	}

	&:hover {
		&::after {
			width: 50%;
			box-shadow: 0 0 .25em .1em var(--blue-shadow);
		}
	}

	&:active {
		&::after {
			box-shadow: 0 0 .25em .1em var(--grey-shadow);
		}
	}

	&:disabled {
		cursor: not-allowed;

		&::after {
			display: none;
		}
	}
}

.activePage {
	font-weight: 500;

	&::after {
		width: 50%;
		box-shadow: 0 0 .25em .1em var(--red-shadow);
	}
}

.paginationButton {
	padding: .5em;
	background-color: transparent;
	border: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&::after {
		bottom: 0;
	}
}

.paginationIcon {
	width: auto;
	height: 1.25em;
	fill: var(--text-default);
	background-color: var(--background-default);
}